.header__container {
    display: flex;
}

.form-add,
.toolbar {
    display: flex;
    align-items: center;
    gap: 12px;
        margin-bottom: 15px;
}



.form-add__input,
.toolbar__search  {
    width: 100%;
    padding: 12px 20px;
    font-size: 14px;
    border: 1px solid rgba(30, 10, 60, 0.12);
    border-radius: 8px;
    background: #fff;
}

.form-add__input::placeholder,
.toolbar__search::placeholder{
    color: #9b96a6;
}

.form-add__button {
    padding: 12px 45px;
    border-radius: 8px;
    border: 1px solid rgba(30, 10, 60, 0.12);
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background: #7e66cd;
    cursor: pointer;
}